
.flatpickr-prev-month,
.flatpickr-next-month {
    background: none;
    border: none;
    color: #E94057;
    
}

.flatpickr-prev-month:hover,
.flatpickr-next-month:hover {
    color: #E94057;
}


.flatpickr-day:hover {
    background: #E94057;
    color: #fff;
}

.flatpickr-day.selected {
    background: #E94057;
    color: #fff;
}

.flatpickr-current-month .flatpickr-monthDropdown-months {
    color: #E94057;
}

.flatpickr-current-month input.cur-year {
    color: #E94057;
}