@font-face {
    font-family: 'Sk-Modernist';
    src: url('Sk-Modernist-Regular.otf') format('opentype');
}

body {
    font-family: 'Sk-Modernist';
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #ffffff;
    width: 100%;
}

.titulo {
    font-size: 34px;
    font-weight: 700;
    text-align: left;
    margin-top: 100px;
    margin-bottom: 80px;
}

.container {
    text-align: center;
    width: 100%; 
    max-width: 300px; 
    position: relative;
}

.back-button {
    position: absolute;
    top: 20px;
    left: 20px;
    background: none;
    border: none;
    font-size: 24px;
    cursor: pointer;
    color: #E94057;
}

.skip-button {
    position: absolute;
    top: 20px;
    right: 20px;
    background: none;
    border: none;
    font-size: 16px;
    color: #E94057;
    cursor: pointer;
    font-weight: 700;
    line-height: 24px;
    text-align: left;
}

h1 {
    margin-top: 50px;
    font-size: 24px;
    font-weight: bold;
}

.header {
    margin-bottom: 50px;
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.options {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 20px 0;
    width: 100%;
}

.option {
    font-family: 'Sk-Modernist';
    border: 1px solid #E8E6EA;
    background-color: #FDECEF;
    border-radius: 15px;
    padding: 15px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
    text-align: left;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.option:hover {
    background-color: #E94057;
    color: #fff;
}

.option.selected {
    background-color: #E94057;
    color: #fff;
    border: none;
}

.checkmark {
    display: none;
    width: 20px;
    height: 20px;
    background-image: url('UrlImg/check-small.png');
    background-size: cover;
}

.option.selected .checkmark {
    display: block;
}

.continue-button {
    background-color: #E94057;
    color: #fff;
    border: none;
    border-radius: 15px;
    padding: 15px;
    font-size: 16px;
    cursor: pointer;
    width: 100%;
    margin-top: 20px;
    font-family: 'Sk-Modernist';
}


@media (max-width: 480px) {
    .container {
        max-width: none; 
    }

    .back-button {
        font-size: 20px; 
        top: 10px;
        left: 10px;
    }

    .skip-button {
        font-size: 14px; 
        top: 10px;
        right: 10px;
    }

    .titulo {
        font-size: 28px; 
        margin-top: 50px;
        margin-bottom: 60px;
    }

    h1 {
        font-size: 20px; 
        margin-top: 30px;
    }

    .options {
        margin: 10px 0;
    }

    .option {
        font-size: 14px;
        padding: 12px; 
    }

    .continue-button {
        font-size: 14px; 
        padding: 12px; 
    }
}


@media (max-width: 760px) {
    .container {
        max-width: 100%; 
    }

    .back-button {
        font-size: 22px; 
        top: 20px;
        left: 20px;
    }

    .skip-button {
        font-size: 16px; 
        top: 20px;
        right: 20px;
    }

    .titulo {
        font-size: 32px; 
        margin-top: 80px;
        margin-bottom: 60px;
    }

    h1 {
        font-size: 22px; 
        margin-top: 40px;
    }

    .option {
        font-size: 16px; 
        padding: 14px; 
    }

    .continue-button {
        font-size: 16px; 
        padding: 14px; 
    }
}
