@font-face {
    font-family: 'Sk-Modernist';
    src: url(fontes/Sk-Modernist-Regular.otf) format('opentype');
}

body {
    font-family: 'Sk-Modernist', sans-serif;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #ffffff;
    width: 100%;
}

.container {
    width: 375px;
    max-width: 100%;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    text-align: center;
    box-sizing: border-box;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 0;
}

.back-button,
.skip-button {
    background: none;
    border: none;
    font-size: 16px;
    cursor: pointer;
    color: #E94057;
    font-weight: 700;
    line-height: 24px;
}

.phrases h1 {
    font-size: 34px;
    font-weight: 700;
    line-height: 51px;
    text-align: left;
}

.phrases p {
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    text-align: left;
    color: #666;
}

h1 {
    font-size: 24px;
    margin: 20px 0 10px;
}

p {
    font-size: 16px;
    color: #666;
    margin-bottom: 20px;
}

.interests {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    padding: 20px;
}

.interest-button {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 10px 15px;
    border: 1px solid #E8E6EA;
    border-radius: 20px;
    background-color: white;
    color: #E94057;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
    width: 100%;
    max-width: 140px;
}

.interest-button img {
    width: 20px;
    height: 20px;
    margin-right: 8px;
    transition: filter 0.3s;
}

.interest-button.selected {
    background-color: #E94057;
    color: white;
    box-shadow: 0 15px 15px 0 #E9405733;
}

.interest-button.selected img {
    filter: brightness(0) invert(1); /* Change the color of the image */
}

.continue-button {
    margin-top: 20px;
    padding: 10px 20px;
    border: none;
    border-radius: 20px;
    background-color: #E94057;
    color: white;
    font-size: 16px;
    cursor: pointer;
    width: 100%;
    max-width: 295px;
}

@media (max-width: 768px) {
    .container {
        width: 100%;
        padding: 20px;
    }

    .phrases h1 {
        font-size: 28px;
    }

    .phrases p {
        font-size: 12px;
    }

    h1 {
        font-size: 20px;
    }

    p {
        font-size: 14px;
    }

    .interest-button {
        padding: 8px 10px;
        font-size: 14px;
    }

    .continue-button {
        font-size: 14px;
        padding: 8px;
    }
}

@media (max-width: 480px) {
    .container {
        width: 100%;
        padding: 15px;
    }

    .phrases h1 {
        font-size: 24px;
    }

    .phrases p {
        font-size: 12px;
    }

    h1 {
        font-size: 18px;
    }

    p {
        font-size: 14px;
    }

    .interest-button {
        padding: 6px 8px;
        font-size: 12px;
    }

    .continue-button {
        font-size: 12px;
        padding: 6px;
    }
}
