@font-face {
    font-family: 'Sk-Modernist';
    src: url(fontes/Sk-Modernist-Regular.otf) format(opentype);
}

body {
    margin: 0;
    font-family: 'Sk-Modernist', sans-serif;
    padding: 0;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.container {
    text-align: center;
    width: 100%;
    max-width: 375px;
    padding: 20px;
    box-sizing: border-box;
    flex: 1; 
}

.logo {
    margin-bottom: 80px; 
    margin-top: 60px;
}

.logo img {
    max-width: 100px;
}

h1 {
    font-size: 18px;
    color: #000;
    margin-bottom: 40px;
    font-weight: 600;
}

.btn {
    background-color: #FF476F;
    color: #ffffff;
    border: none;
    padding: 15px 20px;
    font-size: 16px;
    border-radius: 30px;
    cursor: pointer;
    margin-bottom: 20px;
    text-decoration: none;
    display: inline-block;
    width: 100%;
    max-width: 250px;
}

.btn:hover {
    background-color: #FF5A7A;
}

footer {
    display: flex;
    justify-content: center;
    font-size: 12px;
    color: #FF476F;
    gap: 20px; 
    position: fixed;  
    bottom: 60px; 
    left: 0;
    right: 0;
}

footer a {
    color: #FF476F;
    text-decoration: none; 
}

footer a:hover {
    text-decoration: underline;
}


