@font-face {
    font-family: 'Sk-Modernist';
    src: url(fontes/Sk-Modernist-Regular.otf) format(opentype);
}

body {
    margin: 0;
    font-family: 'Sk-Modernist', sans-serif;
    background-color: #fff;
    color: #333;
    width: 100%;
    height: 100vh;
}

.container {
    max-width: 375px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
}

.header {
    display: flex;
    justify-content: space-between;
    font-size: 14px;
}

.carousel {
    position: relative;
    margin: 20px 0;
    overflow: hidden;
    border-radius: 10px;
}

.carousel-inner {
    display: flex;
    transition: transform 0.5s ease;
}

.carousel-item {
    min-width: 100%;
    box-sizing: border-box;
    display: none;
    transition: opacity 0.5s ease-in-out;
}

.carousel-item.active {
    display: flex;
    justify-content: center;
    transition: opacity 0.5s ease-in-out;
}

.carousel-item img {
    border-radius: 15px;
}

.carousel-control {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    font-size: 18px;
}

.carousel-control.prev {
    left: 10px;
}

.carousel-control.next {
    right: 10px;
}

.content {
    padding: inherit;
}

h1.phrase, p.phrase {
    display: none;
    text-align: center;
}

h1.phrase.active, p.phrase.active {
    display: block;
}

h1 {
    color: #E94057;
    font-size: 24px;
    margin-bottom: 10px;
}

p {
    color: #666;
    margin-bottom: 20px;
}

.dots {
    display: flex;
    justify-content: center;
    gap: 5px;
    margin-bottom: 40px;
}

.dot {
    width: 10px;
    height: 10px;
    background-color: #ccc;
    border-radius: 50%;
    cursor: pointer;
}

.dot.active {
    background-color: #E94057;
}

.btn {
    background-color: #E94057;
    color: #fff;
    border: none;
    padding: 15px 20px;
    font-size: 16px;
    border-radius: 10px;
    cursor: pointer;
    margin-bottom: 20px;
    text-decoration: none;
}

.btn:hover {
    background-color: #E94057;
}

.sign-in {
    font-size: 14px;
    margin-top: 40px;
}

.sign-in a {
    color: #E94057;
    text-decoration: none;
}

@media (max-width: 767px) {
    .container {
        padding: 10px;
    }

    .header {
        flex-direction: column;
        align-items: center;
    }

    .carousel-item img {
        margin-right: 0;
        padding-top: 20px;
    }

    .carousel-control {
        padding: 5px;
        font-size: 16px;
    }

    h1 {
        font-size: 20px;
    }

    p {
        font-size: 14px;
    }

    .btn {
        padding: 10px 15px;
        font-size: 14px;
    }

    .sign-in {
        font-size: 12px;
    }
}

@media (max-width: 480px) {
    .carousel-item img {
        padding-top: 10px;
    }

    .carousel-control {
        font-size: 14px;
    }

    h1 {
        font-size: 34px;
    }

    p {
        font-size: 20px;
    }

    .btn {
        padding: 15px 25px;
        font-size: 20px;
    }

    .sign-in {
        font-size: 20px;
        margin-top: 50px;
    }
}
