@font-face {
    font-family: 'Sk-Modernist';
    src: url(fontes/Sk-Modernist-Regular.otf) format(opentype);
}

body {
    margin: 0;
    font-family: 'Sk-Modernist', sans-serif;
    padding: 0;
    background-color: #f9f9f9;
    color: #333;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
}

.container{
    background-color: #fff;
    padding: 60px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    width: 400px;
}

h1, h2 {
    color: #FF476F;
}

h1 {
    margin-top: 20px;
    font-size: 24px;
}

h2 {
    margin-top: 40px;
    font-size: 20px;
}

form {
    background: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
    margin-top: 20px;
}

label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
}

input[type="email"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

button[type="submit"] {
    background-color: #FF476F;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
}

button[type="submit"]:hover {
    background-color: #FF5A7A;
}

ul {
    list-style: none;
    padding: 0;
    margin-top: 20px;
    width: 100%;
    max-width: 400px;
}

li {
    background: #fff;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 10px;
    word-wrap: break-word;
}

a {
    color: #FF476F;
    text-decoration: none;
    margin-top: 20px;
}

a:hover {
    text-decoration: underline;
}

