<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign Up</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/sign.css') }}">
</head>
<body>
    <div class="container">
        <a href="{{ url_for('index') }}"><button class="back-button"><img src="{{ url_for('static', filename='imagens/right.png') }}" alt="right"></button></a>
        <div class="logo">
            <img src="{{ url_for('static', filename='imagens/logo/trademark.png') }}" alt="Logo">
        </div>
        <div class="sign">
            <h1>Sign up to continue</h1>
            <a href="#" class="btn" id="openModalBtn">Continue with email</a>
        </div>
        
        <footer>
            <a href="#">Terms of use</a>
            <a href="#">Privacy Policy</a>
        </footer>
    </div>
    <div id="emailModal" class="modal">
        <div class="modal-content">
            <span class="close">&times;</span>
            <h2>Enter your email</h2>
            <input type="email" id="emailInput" placeholder="Enter your email">
            <a href="#" class="btn" id="submitEmailBtn">Submit</a>
        </div>
        
    </div>
    
    <script src="{{ url_for('static', filename='js/signupconfig.js') }}"></script>
</body>
</html>
