<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Image Carousel</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/telaInicial.css') }}">
</head>
<body>
    <div class="container">
        <header class="header">
            <img src="{{ url_for('static', filename='imagens/header/Light.png' ) }}" alt="iphoneHead">
        </header>
        <div class="carousel">
            <div class="carousel-inner">
                {% for slide in slides %}
                    <div class="carousel-item {% if loop.first %}active{% endif %}">
                        <img src="{{ url_for('static', filename='imagens/carrosel/' + slide[0]) }}" alt="Slide {{ loop.index }}">
                        <img src="{{ url_for('static', filename='imagens/carrosel/' + slide[1]) }}" alt="Slide {{ loop.index }}">
                        <img src="{{ url_for('static', filename='imagens/carrosel/' + slide[2]) }}" alt="Slide {{ loop.index }}">
                    </div>
                {% endfor %}
            </div>
         
        </div>
        <div class="content">
            <div class="phrases">
                <h1 class="phrase">Algorithm</h1>
                <p class="phrase">Users going through a vetting process to ensure you never match with bots.</p>
                <h1 class="phrase">Matches</h1>
                <p class="phrase">We match you with people that have a large array of similar interests.</p>
                <h1 class="phrase">Premium</h1>
                <p class="phrase">Sign up today and enjoy the first month of premium benefits on us.</p>
            </div>
            <div class="dots">
                {% for slide in slides %}
                    <span class="dot {% if loop.first %}active{% endif %}" onclick="currentSlide({ loop,index })"></span>
                {% endfor %}
            </div>
            <a href="{{ url_for('manage_users') }}" class="btn">Create an account</a>
            <p class="sign-in">Already have an account? <a href="{{ url_for('signup') }}" id="signInLink">Sign In</a></p>
        </div>
    </div>
    <script src="{{ url_for('static', filename='js/telaInicial.js') }}"></script>
</body>
</html>
