<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Manage Users</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/user.css') }}">
</head>
<body>
    <div class="container">
        <a href="{{ url_for('index') }}"><button class="back-button"><img src="{{ url_for('static', filename='imagens/right.png') }}" alt="right"></button></a>
        <h1>Create Account</h1>
        <form id="user-form" action="/users" method="post">
            <label for="email">Email:</label>
            <input type="email" id="email" name="email" required>
            <br>
            <label for="password">Password:</label>
            <input type="password" id="password" name="password" required>
            <br>
            <button type="submit">Add User</button>
        </form>
 
    </div>

    <script src="{{ url_for('static', filename='js/userconfig.js') }}"></script>
</body>
</html>
