<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Manage Users</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/user.css') }}">
</head>
<body>
    <div class="container">
        <h1>Create Account</h1>
        <form action="/users" method="post">
            <label for="email">Email:</label>
            <input type="email" id="email" name="email" required>
            <br>
            <label for="password">Password:</label>
            <input type="password" id="password" name="password" required>
            <br>
            <button type="button" onclick="addAndRedirect()">Add User</button>
           
            <a href="{{ url_for('index') }}">Back to Home</a>
        </form>
    </div>
    <div class="Users">
        <h2>Existing Users</h2>
        <ul>
            {% for user in users %}
                <li>{{ user.email }} - {{ user.senha }} - {{ user.created_at }}</li>
            {% endfor %}
        </ul>
    </div>

    <script>
        function addAndRedirect() {
        console.log("Função addAndRedirect() foi chamada.");
        // Submeter o formulário
        document.getElementById("addUserForm").submit();
        // Redirecionar para profile.html após a submissão do formulário
        console.log("Redirecionando para profile.html...");
        window.location.href = "{{ url_for('profile') }}";
    }
    </script>
   
</body>
</html>

